In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
folder_path = '../dataset/Flood/'
dataframes = {}

for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):
        file_path = os.path.join(folder_path, filename)

        df = pd.read_excel(file_path)

        key = os.path.splitext(filename)[0]
        dataframes[key] = df

        globals()[key] = df

# New York

In [3]:
NewYork_100.head(10)

,Date,"Temperature,water,deg C,(Maximum)ALBANY-NY","Temperature,water,deg C,(Minimum)ALBANY-NY","Temperature,water,deg C,(Mean)ALBANY-NY","Temperature,water,deg C,(Maximum)ALBANY-NY.1","Temperature,water,deg C,(Minimum)ALBANY-NY.1","Temperature,water,deg C,(Mean)ALBANY-NY.1","Specific conductance,wat unfuS/cm @25 degC,(Maximum)ALBANY-NY","Specific conductance,wat unfuS/cm @25 degC,(Minimum)ALBANY-NY","Specific conductance,wat unfuS/cm @25 degC,(Mean)ALBANY-NY",...,"Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Mean)SKANEATELES-NY","Temper\nature,\nwater,\ndeg C,\n(Maximum)PORT_HENRY-NY","Temper\nature,\nwater,\ndeg C,\n(Minimum)PORT_HENRY-NY","Temper\nature,\nwater,\ndeg C,\n(Mean)PORT_HENRY-NY","Precip\nitation\ntotal,\ninches,\n(Sum)PORT_HENRY-NY","Temper\nature,\nwater,\ndeg C,\n(Minimum)ROUSES_POINT-NY","Temper\nature,\nwater,\ndeg C,\n(Mean)ROUSES_POINT-NY","Temperature,water,deg C,(Maximum)ROUSES_POINT-NY","Daily Mean Discharge, cubic feet per second - DUNHAM_BASIN-NY","Daily Instantaneous Gage height, feet - CRANBERRY_LAKE-NY"
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-05-01,14.4P,13.4P,14.0P,14.0P,13.1P,13.7P,229P,206P,220P,...,294P,10.8P,9.5P,10.0P,0.00P,8.6P,8.9P,9.2P,71.2P,16.30A
2,2024-05-02,15.4P,14.4P,14.8P,14.8P,14.0P,14.4P,239P,211P,225P,...,293P,10.5P,9.8P,10.1P,0.00P,8.5P,9.0P,9.5P,68.1P,16.30A
3,2024-05-03,16.0P,15.4P,15.6P,16.0P,14.8P,15.5P,244P,209P,229P,...,292P,11.5P,9.7P,10.5P,0.00P,8.9P,9.5P,10.1P,67.4P,16.30A
4,2024-05-04,16.4P,15.5P,16.0P,16.3P,15.4P,15.7P,232P,177P,208P,...,293P,10.3P,9.7P,10.0P,0.00P,9.6P,10.3P,10.7P,66.3P,16.30A
5,2024-05-05,16.0P,15.0P,15.6P,15.9P,15.1P,15.5P,222P,200P,212P,...,294P,9.7P,9.2P,9.4P,0.23P,10.0P,10.2P,10.4P,72.6P,16.30A
6,2024-05-06,15.6P,14.8P,15.0P,15.2P,14.7P,14.9P,237P,211P,221P,...,294P,11.9P,9.2P,10.0P,0.08P,10.1P,10.7P,11.5P,71.6P,16.30A
7,2024-05-07,15.9P,15.2P,15.5P,15.6P,15.1P,15.2P,250P,225P,237P,...,293P,12.7P,9.9P,11.1P,0.00P,10.3P,11.0P,12.0P,67.9P,16.30A
8,2024-05-08,16.5P,15.7P,15.9P,16.0P,15.3P,15.6P,240P,202P,225P,...,293P,12.4P,10.6P,11.7P,0.03P,10.9P,11.1P,11.3P,75.8P,16.40A
9,2024-05-09,16.6P,16.1P,16.3P,16.2P,15.7P,16.0P,242P,210P,228P,...,294P,11.8P,10.6P,11.2P,0.00P,10.6P,11.3P,12.3P,68.4P,16.40A

In [4]:
ll = list(NewYork_100.columns)
print(ll)

['Date', 'Temperature,water,deg C,(Maximum)ALBANY-NY', 'Temperature,water,deg C,(Minimum)ALBANY-NY', 'Temperature,water,deg C,(Mean)ALBANY-NY', 'Temperature,water,deg C,(Maximum)ALBANY-NY.1', 'Temperature,water,deg C,(Minimum)ALBANY-NY.1', 'Temperature,water,deg C,(Mean)ALBANY-NY.1', 'Specific conductance,wat unfuS/cm @25 degC,(Maximum)ALBANY-NY', 'Specific conductance,wat unfuS/cm @25 degC,(Minimum)ALBANY-NY', 'Specific conductance,wat unfuS/cm @25 degC,(Mean)ALBANY-NY', 'Discharge,ft3/s,(Mean)SCHOHARIE_RESERVOIR-NY', 'Temperature,water,deg C,(Maximum)SCHOHARIE_RESERVOIR-NY', 'Temperature,water,deg C,(Minimum)SCHOHARIE_RESERVOIR-NY', 'Temperature,water,deg C,(Mean)SCHOHARIE_RESERVOIR-NY', 'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Minimum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Minimum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Maximum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Maximum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Maximum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Mean)LEWBEACH-NY', 'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Mean)LEWBEACH-NY', 'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Minimum)LEWBEACH-NY', 'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Mean)LEWBEACH-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Mean)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Mean)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(MeanKELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY', 'Temper\nature,\nwater,\ndeg C,\n(Maximum)SKANEATELES-NY', 'Temper\nature,\nwater,\ndeg C,\n(Minimum)SKANEATELES-NY', 'Temper\nature,\nwater,\ndeg C,\n(Mean)SKANEATELES-NY', 'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Maximum)SKANEATELES-NY', 'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Minimum)SKANEATELES-NY', 'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Mean)SKANEATELES-NY', 'Temper\nature,\nwater,\ndeg C,\n(Maximum)PORT_HENRY-NY', 'Temper\nature,\nwater,\ndeg C,\n(Minimum)PORT_HENRY-NY', 'Temper\nature,\nwater,\ndeg C,\n(Mean)PORT_HENRY-NY', 'Precip\nitation\ntotal,\ninches,\n(Sum)PORT_HENRY-NY', 'Temper\nature,\nwater,\ndeg C,\n(Minimum)ROUSES_POINT-NY', 'Temper\nature,\nwater,\ndeg C,\n(Mean)ROUSES_POINT-NY', 'Temperature,water,deg C,(Maximum)ROUSES_POINT-NY', 'Daily Mean Discharge, cubic feet per second - DUNHAM_BASIN-NY', 'Daily Instantaneous Gage height, feet - CRANBERRY_LAKE-NY']

## Refer Data Dictionary

In [5]:
column_mapping = {
    'Date': 'Date',
    'Temperature,water,deg C,(Maximum)ALBANY-NY': 'A1_MaxT_degC',
    'Temperature,water,deg C,(Minimum)ALBANY-NY': 'A1_MinT_degC',
    'Temperature,water,deg C,(Mean)ALBANY-NY': 'A1_MeanT_degC',
    'Temperature,water,deg C,(Maximum)ALBANY-NY.1': 'A2_MaxT_degC',
    'Temperature,water,deg C,(Minimum)ALBANY-NY.1': 'A2_MinT_degC',
    'Temperature,water,deg C,(Mean)ALBANY-NY.1': 'A2_MeanT_degC',
    'Specific conductance,wat unfuS/cm @25 degC,(Maximum)ALBANY-NY': 'A_MaxSC_degC',
    'Specific conductance,wat unfuS/cm @25 degC,(Minimum)ALBANY-NY': 'A_MinSC_degC',
    'Specific conductance,wat unfuS/cm @25 degC,(Mean)ALBANY-NY': 'A_MeanSC_degC',
    'Discharge,ft3/s,(Mean)SCHOHARIE_RESERVOIR-NY': 'E_MeanT_ft^3/s',
    'Temperature,water,deg C,(Maximum)SCHOHARIE_RESERVOIR-NY': 'E_MaxT_degC',
    'Temperature,water,deg C,(Minimum)SCHOHARIE_RESERVOIR-NY': 'E_MinT_degC',
    'Temperature,water,deg C,(Mean)SCHOHARIE_RESERVOIR-NY': 'E_MeanT_degC',
    'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Minimum)LEWBEACH-NY': 'D1_MinT_degC',
    'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Minimum)LEWBEACH-NY': 'D2_MinT_degC',
    'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Maximum)LEWBEACH-NY': 'D1_MaxT_degC',
    'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Maximum)LEWBEACH-NY': 'D3_MaxT_degC',
    'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Maximum)LEWBEACH-NY': 'D2_MaxT_degC',
    'Temperature,water,deg C,[at1,224ftaboveNAVDof1988](Mean)LEWBEACH-NY': 'D1_MeanT_degC',
    'Temperature,water,deg C,[at1,263ftaboveNAVDof1988](Mean)LEWBEACH-NY': 'D2_MeanT_degC',
    'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Minimum)LEWBEACH-NY': 'D3_MinT_degC',
    'Temperature,water,deg C,[at1,187ftaboveNAVDof1988](Mean)LEWBEACH-NY': 'D3_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY': 'C1_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Mean)KELSEY-NY': 'C1_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Mean)KELSEY-NY': 'C2_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY': 'C2_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(MeanKELSEY-NY': 'C3_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,107\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY': 'C2_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(Minimum)KELSEY-NY': 'C3_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,144\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY': 'C3_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,053\nft\nabove\nNAVD\nof\n1988]\n(Maximum)KELSEY-NY': 'C1_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY': 'B1_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY': 'B1_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY': 'B3_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY': 'B3_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY': 'B2_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY': 'B2_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,355\nft\nabove\nNAVD\nof\n1988]\n(Maximum)NEVERSINK-NY': 'B3_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,383\nft\nabove\nNAVD\nof\n1988]\n(Mean)NEVERSINK-NY': 'B2_MeanT_degC',
    'Temper\nature,\nwater,\ndeg C,\n[at\n1,425\nft\nabove\nNAVD\nof\n1988]\n(Minimum)NEVERSINK-NY': 'B1_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Maximum)SKANEATELES-NY': 'F_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Minimum)SKANEATELES-NY': 'F_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Mean)SKANEATELES-NY': 'F_MeanT_degC',
    'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Maximum)SKANEATELES-NY': 'F_MaxSC_degC',
    'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Minimum)SKANEATELES-NY': 'F_MinSC_degC',
    'Specif\nic \nconduc\ntance,\nwat unf\nuS/cm @\n25 degC,\n(Mean)SKANEATELES-NY': 'F_MeanSC_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Maximum)PORT_HENRY-NY': 'G_MaxT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Minimum)PORT_HENRY-NY': 'G_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Mean)PORT_HENRY-NY': 'G_MeanT_degC',
    'Precip\nitation\ntotal,\ninches,\n(Sum)PORT_HENRY-NY': 'G_D-SP_inches',
    'Temper\nature,\nwater,\ndeg C,\n(Minimum)ROUSES_POINT-NY': 'H_MinT_degC',
    'Temper\nature,\nwater,\ndeg C,\n(Mean)ROUSES_POINT-NY': 'H_MeanT_degC',
    'Temperature,water,deg C,(Maximum)ROUSES_POINT-NY': 'H_MaxT_degC',
    'Daily Mean Discharge, cubic feet per second - DUNHAM_BASIN-NY': 'I_MeanD_ft^3/s',
    'Daily Instantaneous Gage height, feet - CRANBERRY_LAKE-NY': 'J_D-IGH_ft'
}

In [6]:
NewYork_100.rename(columns=column_mapping, inplace=True)

In [7]:
NewYork_100.head(10)

,Date,A1_MaxT_degC,A1_MinT_degC,A1_MeanT_degC,A2_MaxT_degC,A2_MinT_degC,A2_MeanT_degC,A_MaxSC_degC,A_MinSC_degC,A_MeanSC_degC,...,F_MeanSC_degC,G_MaxT_degC,G_MinT_degC,G_MeanT_degC,G_D-SP_inches,H_MinT_degC,H_MeanT_degC,H_MaxT_degC,I_MeanD_ft^3/s,J_D-IGH_ft
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-05-01,14.4P,13.4P,14.0P,14.0P,13.1P,13.7P,229P,206P,220P,...,294P,10.8P,9.5P,10.0P,0.00P,8.6P,8.9P,9.2P,71.2P,16.30A
2,2024-05-02,15.4P,14.4P,14.8P,14.8P,14.0P,14.4P,239P,211P,225P,...,293P,10.5P,9.8P,10.1P,0.00P,8.5P,9.0P,9.5P,68.1P,16.30A
3,2024-05-03,16.0P,15.4P,15.6P,16.0P,14.8P,15.5P,244P,209P,229P,...,292P,11.5P,9.7P,10.5P,0.00P,8.9P,9.5P,10.1P,67.4P,16.30A
4,2024-05-04,16.4P,15.5P,16.0P,16.3P,15.4P,15.7P,232P,177P,208P,...,293P,10.3P,9.7P,10.0P,0.00P,9.6P,10.3P,10.7P,66.3P,16.30A
5,2024-05-05,16.0P,15.0P,15.6P,15.9P,15.1P,15.5P,222P,200P,212P,...,294P,9.7P,9.2P,9.4P,0.23P,10.0P,10.2P,10.4P,72.6P,16.30A
6,2024-05-06,15.6P,14.8P,15.0P,15.2P,14.7P,14.9P,237P,211P,221P,...,294P,11.9P,9.2P,10.0P,0.08P,10.1P,10.7P,11.5P,71.6P,16.30A
7,2024-05-07,15.9P,15.2P,15.5P,15.6P,15.1P,15.2P,250P,225P,237P,...,293P,12.7P,9.9P,11.1P,0.00P,10.3P,11.0P,12.0P,67.9P,16.30A
8,2024-05-08,16.5P,15.7P,15.9P,16.0P,15.3P,15.6P,240P,202P,225P,...,293P,12.4P,10.6P,11.7P,0.03P,10.9P,11.1P,11.3P,75.8P,16.40A
9,2024-05-09,16.6P,16.1P,16.3P,16.2P,15.7P,16.0P,242P,210P,228P,...,294P,11.8P,10.6P,11.2P,0.00P,10.6P,11.3P,12.3P,68.4P,16.40A

In [8]:
def remove_alpha(cell):
    if isinstance(cell, str):
        return re.sub(r'[A-Za-z]', '', cell)
    return cell

In [13]:
NewYork_100 = NewYork_100.applymap(remove_alpha)
NewYork_100 = NewYork_100.drop(0).reset_index(drop=True)

NewYork_100.tail()

,Date,A1_MaxT_degC,A1_MinT_degC,A1_MeanT_degC,A2_MaxT_degC,A2_MinT_degC,A2_MeanT_degC,A_MaxSC_degC,A_MinSC_degC,A_MeanSC_degC,...,F_MeanSC_degC,G_MaxT_degC,G_MinT_degC,G_MeanT_degC,G_D-SP_inches,H_MinT_degC,H_MeanT_degC,H_MaxT_degC,I_MeanD_ft^3/s,J_D-IGH_ft
94,2024-08-04,27.9,27.1,27.4,27.9,27.2,27.4,248,233,238,...,277,26.7,21.1,24.2,0.84,26.8,27.3,27.8,60.2,NaN
95,2024-08-05,28.0,27.3,27.6,28.0,27.3,27.5,252,237,244,...,277,25.4,22.1,24.4,0.06,25.4,26.2,26.8,60.6,NaN
96,2024-08-06,27.7,26.5,27.3,27.6,27.0,27.3,250,234,245,...,276,24.6,22.2,24.0,0.00,24.9,25.6,26.3,59.9,NaN
97,2024-08-07,26.5,25.7,26.1,27.0,25.8,26.3,285,227,252,...,277,25.7,21.5,24.3,0.00,24.6,25.8,27.0,58.9,NaN
98,2024-08-08,25.9,25.4,25.6,25.9,25.4,25.6,288,276,282,...,277,24.6,19.3,23.2,0.92,24.5,25.4,26.2,62.6,NaN

In [12]:
nan_count_per_column = NewYork_100.isna().sum()
print("NaN values per column:")
print(nan_count_per_column.iloc[20:])

# D2_MeanT_degC      1
# C3_MeanT_degC      1
# C3_MinT_degC       1
# C3_MaxT_degC       1
# J_D-IGH_ft        40

NaN values per column:
D2_MeanT_degC      1
D3_MinT_degC       0
D3_MeanT_degC      0
C1_MinT_degC       0
C1_MeanT_degC      0
C2_MeanT_degC      0
C2_MinT_degC       0
C3_MeanT_degC      1
C2_MaxT_degC       0
C3_MinT_degC       1
C3_MaxT_degC       1
C1_MaxT_degC       0
B1_MaxT_degC       0
B1_MeanT_degC      0
B3_MinT_degC       0
B3_MeanT_degC      0
B2_MinT_degC       0
B2_MaxT_degC       0
B3_MaxT_degC       0
B2_MeanT_degC      0
B1_MinT_degC       0
F_MaxT_degC        0
F_MinT_degC        0
F_MeanT_degC       0
F_MaxSC_degC       0
F_MinSC_degC       0
F_MeanSC_degC      0
G_MaxT_degC        0
G_MinT_degC        0
G_MeanT_degC       0
G_D-SP_inches      0
H_MinT_degC        0
H_MeanT_degC       0
H_MaxT_degC        0
I_MeanD_ft^3/s     0
J_D-IGH_ft        40
dtype: int64

In [16]:
# Mode for columns with less than 5 NaN values

for column in NewYork_100.columns:
    if NewYork_100[column].isna().sum() == 1:  
        mode_value = NewYork_100[column].mode().iloc[0]  
        NewYork_100[column] = NewYork_100[column].fillna(mode_value)

In [21]:
NewYork_100['J_D-IGH_ft'] = pd.to_numeric(NewYork_100['J_D-IGH_ft'], errors='coerce')
J_mean = NewYork_100['J_D-IGH_ft'].mean()
NewYork_100['J_D-IGH_ft'] = NewYork_100['J_D-IGH_ft'].fillna(J_mean)

# Mean for D-IGH

In [34]:
NewYork_100['C3_MaxT_degC'] = pd.to_numeric(NewYork_100['C3_MaxT_degC'], errors='coerce')
J_mean = NewYork_100['C3_MaxT_degC'].mean()
NewYork_100['C3_MaxT_degC'] = NewYork_100['C3_MaxT_degC'].fillna(J_mean)

NewYork_100['C3_MinT_degC'] = pd.to_numeric(NewYork_100['C3_MinT_degC'], errors='coerce')
J_mean = NewYork_100['C3_MinT_degC'].mean()
NewYork_100['C3_MinT_degC'] = NewYork_100['C3_MinT_degC'].fillna(J_mean)

NewYork_100['C3_MeanT_degC'] = pd.to_numeric(NewYork_100['C3_MeanT_degC'], errors='coerce')
J_mean = NewYork_100['C3_MeanT_degC'].mean()
NewYork_100['C3_MeanT_degC'] = NewYork_100['C3_MeanT_degC'].fillna(J_mean)

NewYork_100['D2_MaxT_degC'] = pd.to_numeric(NewYork_100['D2_MaxT_degC'], errors='coerce')
J_mean = NewYork_100['D2_MaxT_degC'].mean()
NewYork_100['D2_MaxT_degC'] = NewYork_100['D2_MaxT_degC'].fillna(J_mean)

NewYork_100['D2_MinT_degC'] = pd.to_numeric(NewYork_100['D2_MinT_degC'], errors='coerce')
J_mean = NewYork_100['D2_MinT_degC'].mean()
NewYork_100['D2_MinT_degC'] = NewYork_100['D2_MinT_degC'].fillna(J_mean)

NewYork_100['D2_MeanT_degC'] = pd.to_numeric(NewYork_100['D2_MeanT_degC'], errors='coerce')
J_mean = NewYork_100['D2_MeanT_degC'].mean()
NewYork_100['D2_MeanT_degC'] = NewYork_100['D2_MeanT_degC'].fillna(J_mean)

In [35]:
NewYork_100 = NewYork_100.round(1)
# Remove '[4]' from all cells in the DataFrame
NewYork_100 = NewYork_100.applymap(lambda x: x.replace(' [4]', '') if isinstance(x, str) else x)

In [36]:
# object_columns = NewYork_100.select_dtypes(include=['object']).columns

# for col in object_columns:
#     NewYork_100[col] = pd.to_numeric(NewYork_100[col], errors='coerce')
print(NewYork_100.dtypes)

Date              datetime64[ns]
A1_MaxT_degC             float64
A1_MinT_degC             float64
A1_MeanT_degC            float64
A2_MaxT_degC             float64
A2_MinT_degC             float64
A2_MeanT_degC            float64
A_MaxSC_degC               int64
A_MinSC_degC               int64
A_MeanSC_degC              int64
E_MeanT_ft^3/s             int64
E_MaxT_degC              float64
E_MinT_degC              float64
E_MeanT_degC             float64
D1_MinT_degC             float64
D2_MinT_degC             float64
D1_MaxT_degC             float64
D3_MaxT_degC             float64
D2_MaxT_degC             float64
D1_MeanT_degC            float64
D2_MeanT_degC            float64
D3_MinT_degC             float64
D3_MeanT_degC            float64
C1_MinT_degC             float64
C1_MeanT_degC            float64
C2_MeanT_degC            float64
C2_MinT_degC             float64
C3_MeanT_degC            float64
C2_MaxT_degC             float64
C3_MinT_degC             float64
C3_MaxT_degC             float64
C1_MaxT_degC             float64
B1_MaxT_degC             float64
B1_MeanT_degC            float64
B3_MinT_degC             float64
B3_MeanT_degC            float64
B2_MinT_degC             float64
B2_MaxT_degC             float64
B3_MaxT_degC             float64
B2_MeanT_degC            float64
B1_MinT_degC             float64
F_MaxT_degC              float64
F_MinT_degC              float64
F_MeanT_degC             float64
F_MaxSC_degC               int64
F_MinSC_degC               int64
F_MeanSC_degC              int64
G_MaxT_degC              float64
G_MinT_degC              float64
G_MeanT_degC             float64
G_D-SP_inches            float64
H_MinT_degC              float64
H_MeanT_degC             float64
H_MaxT_degC              float64
I_MeanD_ft^3/s           float64
J_D-IGH_ft               float64
dtype: object

In [37]:
# Outliers
from scipy import stats

z_scores = np.abs(stats.zscore(NewYork_100.select_dtypes(include=[np.number])))

outliers = (z_scores > 3).any(axis=1)
print("Rows with outliers:")
print(NewYork_100[outliers])

## Leave for bias

Rows with outliers:
         Date  A1_MaxT_degC  A1_MinT_degC  A1_MeanT_degC  A2_MaxT_degC  \
2  2024-05-04          16.4          15.5           16.0          16.3
69 2024-07-10          28.5          27.9           28.2          28.6

    A2_MinT_degC  A2_MeanT_degC  A_MaxSC_degC  A_MinSC_degC  A_MeanSC_degC  \
2           15.4           15.7           232           177            208
69          27.6           28.0           269           236            246

    ...  F_MeanSC_degC  G_MaxT_degC  G_MinT_degC  G_MeanT_degC  G_D-SP_inches  \
2   ...            293         10.3          9.7          10.0            0.0
69  ...            289         24.9         14.3          22.0            5.6

    H_MinT_degC  H_MeanT_degC  H_MaxT_degC  I_MeanD_ft^3/s  J_D-IGH_ft
2           9.6          10.3         10.7            66.3        16.3
69         24.4          25.1         25.8            48.5        16.7

[2 rows x 56 columns]

In [38]:
duplicates = NewYork_100.duplicated()

print("Duplicate rows:")
print(NewYork_100[duplicates])
#No row is duplicated

Duplicate rows:
Empty DataFrame
Columns: [Date, A1_MaxT_degC, A1_MinT_degC, A1_MeanT_degC, A2_MaxT_degC, A2_MinT_degC, A2_MeanT_degC, A_MaxSC_degC, A_MinSC_degC, A_MeanSC_degC, E_MeanT_ft^3/s, E_MaxT_degC, E_MinT_degC, E_MeanT_degC, D1_MinT_degC, D2_MinT_degC, D1_MaxT_degC, D3_MaxT_degC, D2_MaxT_degC, D1_MeanT_degC, D2_MeanT_degC, D3_MinT_degC, D3_MeanT_degC, C1_MinT_degC, C1_MeanT_degC, C2_MeanT_degC, C2_MinT_degC, C3_MeanT_degC, C2_MaxT_degC, C3_MinT_degC, C3_MaxT_degC, C1_MaxT_degC, B1_MaxT_degC, B1_MeanT_degC, B3_MinT_degC, B3_MeanT_degC, B2_MinT_degC, B2_MaxT_degC, B3_MaxT_degC, B2_MeanT_degC, B1_MinT_degC, F_MaxT_degC, F_MinT_degC, F_MeanT_degC, F_MaxSC_degC, F_MinSC_degC, F_MeanSC_degC, G_MaxT_degC, G_MinT_degC, G_MeanT_degC, G_D-SP_inches, H_MinT_degC, H_MeanT_degC, H_MaxT_degC, I_MeanD_ft^3/s, J_D-IGH_ft]
Index: []

[0 rows x 56 columns]

In [39]:
#Save csv
NewYork_100.to_csv('../dataset/Cleaned/Rivers1.csv', index=False)

# Wisconsin

In [41]:
Wisconson_100.head(10)

,Date,"Gage,height,feet,(Mean)WIND_LAKE(WI)","Gage,height,feet,TAILWATER(Mean)WIND_LAKE(WI)","Daily Sum Precipitation, total, inches(AREA-1)WIND_LAKE(WI)","Daily Sum Precipitation, total, inches(AREA-2)WIND_LAKE(WI)","Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI)","Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI).1","Daily Mean Gage height, feet - SHAWANO(WI)","Daily Mean Gage height, feet - WESTFIELD(WI)","Daily Mean Gage height, feet - GREEN_LAKE(WI)","Daily Mean Gage height, feet - STOUGHTON(WI)","Relative humidity,percent,(Maximum)GREENLEAF(WI)","Relative humidity,percent,(Minimum)GREENLEAF(WI)","Relative humidity,percent,(Mean)GREENLEAF(WI)"
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-05-01,8.31P,4.96P,0.00P,0.00P,0.00P,0.01P,92.71A,12.26A,6.70P,3.21P,93.8P,48.3P,74.5P
2,2024-05-02,8.33P,4.76P,0.17P,0.34P,0.37P,0.16P,92.72A,12.26A,6.71P,3.11P,96.0P,70.9P,84.6P
3,2024-05-03,8.34P,4.80P,0.05P,0.06P,0.05P,0.04P,92.73A,12.26A,6.73P,3.09P,100P,34.3P,67.7P
4,2024-05-04,8.35P,4.79P,0.59P,0.85P,0.56P,0.54P,92.72A,12.26A,6.72P,3.15P,98.3P,57.7P,79.5P
5,2024-05-05,8.41P,5.28P,0.00P,0.00P,0.00P,0.00P,92.72A,12.24A,6.71P,3.18P,99.8P,44.4P,71.5P
6,2024-05-06,8.40P,5.13P,0.00P,0.00P,0.00P,0.00P,92.71A,12.23A,6.70P,3.14P,92.6P,45.9P,68.8P
7,2024-05-07,8.45P,5.48P,1.79P,1.24P,1.35P,1.37P,92.72A,12.25A,6.74P,3.17P,99.8P,59.3P,86.0P
8,2024-05-08,8.59P,6.59P,0.01P,0.00P,---,0.01P,92.74A,12.29A,6.79P,3.21P,97.8P,44.4P,80.4P
9,2024-05-09,8.62P,6.65P,0.12P,0.16P,0.16P,0.14P,92.73A,12.27P,6.80P,3.23P,95.6P,74.3P,84.5P

In [43]:
lx = list(Wisconson_100.columns)
print(lx)

['Date', 'Gage,height,feet,(Mean)WIND_LAKE(WI)', 'Gage,height,feet,TAILWATER(Mean)WIND_LAKE(WI)', 'Daily Sum Precipitation, total, inches(AREA-1)WIND_LAKE(WI)', 'Daily Sum Precipitation, total, inches(AREA-2)WIND_LAKE(WI)', 'Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI)', 'Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI).1', 'Daily Mean Gage height, feet - SHAWANO(WI)', 'Daily Mean Gage height, feet - WESTFIELD(WI)', 'Daily Mean Gage height, feet - GREEN_LAKE(WI)', 'Daily Mean Gage height, feet - STOUGHTON(WI)', 'Relative humidity,percent,(Maximum)GREENLEAF(WI)', 'Relative humidity,percent,(Minimum)GREENLEAF(WI)', 'Relative humidity,percent,(Mean)GREENLEAF(WI)']

In [45]:
column_mapping2 = {
    'Date': 'Date',
    'Gage,height,feet,(Mean)WIND_LAKE(WI)': 'A_GH_ft',
    'Gage,height,feet,TAILWATER(Mean)WIND_LAKE(WI)': 'A_GHTW_ft',
    'Daily Sum Precipitation, total, inches(AREA-1)WIND_LAKE(WI)': 'A1_D-SP_inches',
    'Daily Sum Precipitation, total, inches(AREA-2)WIND_LAKE(WI)': 'A2_D-SP_inches',
    'Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI)': 'B1_D-SP_inches',
    'Daily Sum Precipitation, total, inches(AREA-1)WATERFORD(WI).1': 'B2_D-SP_inches',
    'Daily Mean Gage height, feet - SHAWANO(WI)': 'C_D-MGH_ft',
    'Daily Mean Gage height, feet - WESTFIELD(WI)': 'D_D-MGH_ft',
    'Daily Mean Gage height, feet - GREEN_LAKE(WI)': 'E_D-MGH_ft',
    'Daily Mean Gage height, feet - STOUGHTON(WI)': 'F_D-MGH_ft',
    'Relative humidity,percent,(Maximum)GREENLEAF(WI)': 'G_MaxRH_%',
    'Relative humidity,percent,(Minimum)GREENLEAF(WI)': 'G_MinRH_%',
    'Relative humidity,percent,(Mean)GREENLEAF(WI)': 'G_MeanRH_%'
}

Wisconson_100.rename(columns=column_mapping2, inplace=True)
Wisconson_100.head(10)

,Date,A_GH_ft,A_GHTW_ft,A1_D-SP_inches,A2_D-SP_inches,B1_D-SP_inches,B2_D-SP_inches,C_D-MGH_ft,D_D-MGH_ft,E_D-MGH_ft,F_D-MGH_ft,G_MaxRH_%,G_MinRH_%,G_MeanRH_%
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-05-01,8.31P,4.96P,0.00P,0.00P,0.00P,0.01P,92.71A,12.26A,6.70P,3.21P,93.8P,48.3P,74.5P
2,2024-05-02,8.33P,4.76P,0.17P,0.34P,0.37P,0.16P,92.72A,12.26A,6.71P,3.11P,96.0P,70.9P,84.6P
3,2024-05-03,8.34P,4.80P,0.05P,0.06P,0.05P,0.04P,92.73A,12.26A,6.73P,3.09P,100P,34.3P,67.7P
4,2024-05-04,8.35P,4.79P,0.59P,0.85P,0.56P,0.54P,92.72A,12.26A,6.72P,3.15P,98.3P,57.7P,79.5P
5,2024-05-05,8.41P,5.28P,0.00P,0.00P,0.00P,0.00P,92.72A,12.24A,6.71P,3.18P,99.8P,44.4P,71.5P
6,2024-05-06,8.40P,5.13P,0.00P,0.00P,0.00P,0.00P,92.71A,12.23A,6.70P,3.14P,92.6P,45.9P,68.8P
7,2024-05-07,8.45P,5.48P,1.79P,1.24P,1.35P,1.37P,92.72A,12.25A,6.74P,3.17P,99.8P,59.3P,86.0P
8,2024-05-08,8.59P,6.59P,0.01P,0.00P,---,0.01P,92.74A,12.29A,6.79P,3.21P,97.8P,44.4P,80.4P
9,2024-05-09,8.62P,6.65P,0.12P,0.16P,0.16P,0.14P,92.73A,12.27P,6.80P,3.23P,95.6P,74.3P,84.5P

In [48]:
Wisconson_100 = Wisconson_100.applymap(remove_alpha)
Wisconson_100 = Wisconson_100.drop(0).reset_index(drop=True)
Wisconson_100.tail()

,Date,A_GH_ft,A_GHTW_ft,A1_D-SP_inches,A2_D-SP_inches,B1_D-SP_inches,B2_D-SP_inches,C_D-MGH_ft,D_D-MGH_ft,E_D-MGH_ft,F_D-MGH_ft,G_MaxRH_%,G_MinRH_%,G_MeanRH_%
95,2024-08-05,8.37,5.52,0.00,0.00,0.00,0.00,92.52,12.48,6.49,3.81,NaN,NaN,NaN
96,2024-08-06,8.41,5.77,1.07,0.72,1.19,1.03,92.59,12.51,6.53,3.92,NaN,NaN,NaN
97,2024-08-07,8.40,5.98,0.00,0.00,0.00,0.00,92.58,12.49,6.48,3.81,NaN,NaN,NaN
98,2024-08-08,8.39,5.78,0.00,0.00,0.00,0.00,92.56,12.47,6.46,3.77,NaN,NaN,NaN
99,2024-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.74,NaN,NaN,NaN

In [49]:
nan_count_per_column = Wisconson_100.isna().sum()
print("NaN values per column:")
print(nan_count_per_column)

NaN values per column:
Date               0
A_GH_ft            1
A_GHTW_ft          1
A1_D-SP_inches     1
A2_D-SP_inches     1
B1_D-SP_inches     1
B2_D-SP_inches     1
C_D-MGH_ft         1
D_D-MGH_ft         1
E_D-MGH_ft         1
F_D-MGH_ft         0
G_MaxRH_%         25
G_MinRH_%         25
G_MeanRH_%        25
dtype: int64

In [50]:
for column in Wisconson_100.columns:
    if Wisconson_100[column].isna().sum() == 1:  
        mode_value = Wisconson_100[column].mode().iloc[0]  
        Wisconson_100[column] = Wisconson_100[column].fillna(mode_value)

In [51]:
nan_count_per_column = Wisconson_100.isna().sum()
print("NaN values per column:")
print(nan_count_per_column)

NaN values per column:
Date               0
A_GH_ft            0
A_GHTW_ft          0
A1_D-SP_inches     0
A2_D-SP_inches     0
B1_D-SP_inches     0
B2_D-SP_inches     0
C_D-MGH_ft         0
D_D-MGH_ft         0
E_D-MGH_ft         0
F_D-MGH_ft         0
G_MaxRH_%         25
G_MinRH_%         25
G_MeanRH_%        25
dtype: int64

In [60]:
Wisconson_100['G_MaxRH_%'] = pd.to_numeric(Wisconson_100['G_MaxRH_%'], errors='coerce')
G_mean = Wisconson_100['G_MaxRH_%'].mean()
Wisconson_100['G_MaxRH_%'] = Wisconson_100['G_MaxRH_%'].fillna(J_mean)

Wisconson_100['G_MinRH_%'] = pd.to_numeric(Wisconson_100['G_MinRH_%'], errors='coerce')
G_mean = Wisconson_100['G_MinRH_%'].mean()
Wisconson_100['G_MinRH_%'] = Wisconson_100['G_MinRH_%'].fillna(J_mean)

Wisconson_100['G_MeanRH_%'] = pd.to_numeric(Wisconson_100['G_MeanRH_%'], errors='coerce')
G_mean = Wisconson_100['G_MeanRH_%'].mean()
Wisconson_100['G_MeanRH_%'] = Wisconson_100['G_MeanRH_%'].fillna(J_mean)

Wisconson_100['B1_D-SP_inches'] = pd.to_numeric(Wisconson_100['B1_D-SP_inches'], errors='coerce')
G_mean = Wisconson_100['B1_D-SP_inches'].mean()
Wisconson_100['B1_D-SP_inches'] = Wisconson_100['B1_D-SP_inches'].fillna(J_mean)

In [61]:
# object_columns = Wisconson_100.select_dtypes(include=['object']).columns

# for col in object_columns:
#     Wisconson_100[col] = pd.to_numeric(Wisconson_100[col], errors='coerce')
print(Wisconson_100.dtypes)

Date              datetime64[ns]
A_GH_ft                  float64
A_GHTW_ft                float64
A1_D-SP_inches           float64
A2_D-SP_inches           float64
B1_D-SP_inches           float64
B2_D-SP_inches           float64
C_D-MGH_ft               float64
D_D-MGH_ft               float64
E_D-MGH_ft               float64
F_D-MGH_ft               float64
G_MaxRH_%                float64
G_MinRH_%                float64
G_MeanRH_%               float64
dtype: object

In [62]:
# Outliers
from scipy import stats

z_scores = np.abs(stats.zscore(Wisconson_100.select_dtypes(include=[np.number])))

outliers = (z_scores > 3).any(axis=1)
print("Rows with outliers:")
print(Wisconson_100[outliers])

## Leave for bias

Rows with outliers:
         Date  A_GH_ft  A_GHTW_ft  A1_D-SP_inches  A2_D-SP_inches  \
5  2024-05-07     8.45       5.48            1.79            1.24
7  2024-05-09     8.62       6.65            0.12            0.16
8  2024-05-10     8.60       6.62            0.13            0.11
51 2024-06-22     8.42       5.18            1.00            1.20
58 2024-06-29     8.45       5.42            0.17            0.13
73 2024-07-14     8.48       6.00            0.97            1.25
74 2024-07-15     8.49       6.63            0.47            1.25
91 2024-08-01     8.35       4.99            1.49            0.78

    B1_D-SP_inches  B2_D-SP_inches  C_D-MGH_ft  D_D-MGH_ft  E_D-MGH_ft  \
5             1.35            1.37       92.72       12.25        6.74
7             0.16            0.14       92.73       12.27        6.80
8             0.18             NaN       92.72       12.27        6.78
51            0.80            1.40       92.82       12.43        6.76
58            0.10            0.08       92.85       12.49        6.73
73            1.68            1.06       92.79       12.61        6.73
74            1.42            1.30       92.78       12.60        6.71
91            0.41            0.13       92.59       12.45        6.41

    F_D-MGH_ft   G_MaxRH_%   G_MinRH_%  G_MeanRH_%
5         3.17   99.800000   59.300000   86.000000
7         3.23   95.600000   74.300000   84.500000
8         3.27   99.000000   32.700000   72.000000
51        3.74  100.000000   79.200000   97.100000
58        4.01  100.000000 -100.000000   74.200000
73        4.48   98.600000   60.500000   83.300000
74        4.50  100.000000   63.900000   85.900000
91        4.00   16.735714   16.735714   16.735714

In [65]:
duplicates = Wisconson_100.duplicated()

print("Duplicate rows:")
print(Wisconson_100[duplicates])
#No row is duplicated
Wisconson_100 = Wisconson_100.round(1)

Duplicate rows:
Empty DataFrame
Columns: [Date, A_GH_ft, A_GHTW_ft, A1_D-SP_inches, A2_D-SP_inches, B1_D-SP_inches, B2_D-SP_inches, C_D-MGH_ft, D_D-MGH_ft, E_D-MGH_ft, F_D-MGH_ft, G_MaxRH_%, G_MinRH_%, G_MeanRH_%]
Index: []

In [64]:
#Save csv
Wisconson_100.to_csv('../dataset/Cleaned/Rivers2.csv', index=False)